.writer-editor .lineno {
    -fx-font-family: "Microsoft YaHei UI" !important;
    -fx-background-radius: 0;
    -fx-box-border: none;
    -fx-text-fill: #adadad;
    -fx-pref-width: 55;
    -fx-text-alignment: left;
    -fx-background-color: #f2f2f2;
    -fx-padding: 10 10 10 0;
}

.writer-editor .paragraph-text {
    -fx-font-family: "Microsoft YaHei UI" !important;
    -fx-padding: 10 0 10 10;
}

.writer-editor {
    -fx-font-size: 15;
}

.text-area .text {
    -fx-line-spacing: 10px;
}

.text-area {
    -fx-background-color: none;
    -fx-border-width: none;
}

.keyword {
    -fx-fill: purple;
    -fx-font-weight: bold;
}

.semicolon {
    -fx-font-weight: bold;
}

.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}

.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}

.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}

.string {
    -fx-fill: blue;
}

.comment {
    -fx-fill: cadetblue;
}

.select {
    -rtfx-background-color: #fcd47e;
}

.focus {
    -rtfx-border-stroke-color: black;
    -rtfx-border-stroke-width: 1.0;
    -rtfx-background-color: #a6d2ff;
}