<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<figure>
    <figcaption>斗破苍穹萧炎后宫</figcaption>
    <ul class="tree">
        <li>
            <span>萧炎</span>
            <ul>
                <li>
                    <span>萧熏儿</span>
                    <ul>
                        <li>
                            <span>萧霖</span>
                        </li>
                    </ul>
                </li>
                <li>
                    <span>美杜莎</span>
                    <ul>
                        <li>
                            <span>蛇蛇</span>
                        </li>
                    </ul>
                </li>
                <li>
                    <span>云韵</span>
                </li>
            </ul>
        </li>
    </ul>
</figure>
</body>
</html>