/*编辑器部分左侧文件树*/
.node-left {
    -fx-background-color: -node-left-bgc;
}

.node-left .note-left-item {
    -fx-text-fill: -def-text-fill;
}

/*编辑器部分右侧管理工具部分*/
.right-toolkits {
    -fx-background-color: -node-right-bgc;
    -fx-border-width: 1;
    -fx-border-color: -node-right-bgc;
}

#code-right .task-top {
    -fx-background-color: -node-right-bgc;
    -fx-border-width: 1;
    -fx-border-color: -node-right-bgc;
}

#code-right .task-top-title {
    -fx-text-fill: -node-right-top-title;
}

#code-left .task-top {
    -fx-background-color: -node-left-top-bgc;
}

.note-book-menu .menu, .menu-bar {
    -fx-background-color: #ffff;
}

.bottom-coder {
    -fx-background-color: -def-bottom-coder-bgc;
}

.alert-label {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-color: -node-left-top-bgc;
}

.embedded-prompt {
    -fx-text-fill: #95a5a6;
}

/*代码编辑器高亮部分*/
.keyword {
    -fx-fill: purple;
    -fx-font-weight: bold;
}
.semicolon {
    -fx-font-weight: bold;
}
.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: black;
}

.comment {
    -fx-fill: cadetblue;
}

.paragraph-box:has-caret {
    -fx-background-color: #fcfaed;
}

/*覆盖tree-cell的形状*/
.tree-cell > .tree-disclosure-node > .arrow {
    -fx-shape: "M461.024 665.856c-17.696 14.08-45.024 2.4-45.024-19.2v-269.312c0-21.6 27.328-33.28 45.024-19.2l169.44 134.656a24.096 24.096 0 0 1 0 38.4l-169.44 134.656z";
    -fx-background-color: #8997B2;
}

/*更改文本内容区域选中的颜色*/
.styled-text-area .selection {
    -fx-fill: #a6d2ff;
}

.note-menu-bar {
    -fx-border-style: soild;
    -fx-border-width: 1;
    -fx-border-color: -def-border-color;
    -fx-background-color: -def-backgroud-color;
}