.root {
    -fx-font-family: "Microsoft YaHei UI";
}

.label {
    -fx-font-family: "Microsoft YaHei UI";
}

Text {
    -fx-font-family: "Microsoft YaHei UI";
}

.text {
    -fx-font-family: "Microsoft YaHei UI";
}

.label.header, .label.header .text {
    -fx-font-family: "Microsoft YaHei UI";
}

.label.item-title, .label.item-title .text {
    -fx-font-family: "Microsoft YaHei UI";
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: -def-border-color;
    -fx-pref-width: 1;
}

.split-pane:vertical > .split-pane-divider {
    -fx-background-color: -def-border-color;
    -fx-pref-width: 1;
}

.tab .tab-close-button {
    -fx-opacity: 0;
    -fx-background-color: derive(#495057, -40%);

}

.tab:hover .tab-close-button,
.tab:selected .tab-close-button {
    -fx-opacity: 1;
}

.tab .tab-close-button:hover {
    -fx-background-color: red;
}