.root {
    -fx-font-family: "Microsoft YaHei UI";
}

/*====================== Label ===========================*/
.label {
    -fx-font-family: "Microsoft YaHei UI";
}

/*====================== Text ===========================*/
Text {
    -fx-font-family: "Microsoft YaHei UI";
}

/*=================== Other styles ======================*/
.text {
    -fx-font-family: "Microsoft YaHei UI";
}

.label.header, .label.header .text {
    -fx-font-size: 3.5em;
    -fx-font-family: "Microsoft YaHei UI";
}

.label.item-title, .label.item-title .text {
    -fx-font-size: 1em;
    -fx-font-family: "Microsoft YaHei UI";
}