.menu:hover {
    -fx-text-fill: white;
    -fx-background-color: #3498db;
}

.menu {
    -fx-text-fill: #ffff;
    -fx-font-size: 15px;
}

.embedded-prompt {
    -fx-text-fill: #95a5a6;
}

.note-left-button-item {
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-color: white;
}

.note-left-button-item:hover {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.8) , 5, 0.0 , 0 , 1 );
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-color: #e9ecef;
    -fx-background-color: #e9ecef;
    -fx-background-radius: 5px;
}